.food-body{
    border: 1px solid black;
    display: flex;
    align-items: center;
    border-radius: 30px;
padding: 10px;
background: white;
}
.food-tem{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-self: center;
    justify-self: center;
    gap: 20px;
}
.image img{
    width: 200px;
    height: 100px;
}
button{
    position: absolute;
    top: 130px;
    right: 20px;
    padding: 5px;
    border: none;
    color: black;
    background: red;
    cursor: pointer;
}
.food{
    position: relative;
}