.food-body{
    border: 1px solid black;
    display: flex;
    align-items: center;
    border-radius: 30px;
padding: 10px;
}
.food-tem{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.image img{
    width: 200px;
    height: 100px;
}