nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    padding: 10px;
}
.list ul{
    display: flex;
    list-style: none;
    gap: 10px;
}
.list a{
    text-decoration: none;
    color: white;
}
nav{
    background: gray;
}