.img img{
    width: 200px;
    height: 100px;
}
.data-food{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.data-fo{
    border: 1px solid;
    padding: 2px;
    background: white;
}