.card{
    border: 2px solid rgb(230, 11, 222);
    background: rgb(213, 212, 212);
    border-radius: 10px;
}
.card-body{
    padding: 10px;
}
.card-contaner{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    width: 1200px;
    justify-self: center;
}
.card-body h2{
    color: rgb(253, 6, 6);
}
.card-body p{
    color: black ;
}
.card-body span{
    color: rgb(52, 61, 185);
}