.icon-logo{
    color: blue;
}
.icon-text{
    gap: 20px;
}
.icon{
    display: flex;
}
.Footer{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: gray;
}